html {
   box-sizing: border-box;
   font-size: 100%;
}

*,
*::after,
*::before {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

body {
   font-size: 32px;
   font-weight: 600;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   color: white;
   background-color: rgb(34 197 94);
}

// the app design
.all-cards-container {
   width: 240px;
   height: 240px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   box-shadow: 1px 1px 42px #000;
}

// the card design
.card {
   border: 0.01px solid black;
   background-color: #374151;
   display: grid;
   place-items: center;
   cursor: pointer;

   &-design {
      width: 36px;
      height: 36px;
   }
}

// circle component
.outer-circle {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   background-color: rgb(31, 139, 172);
   display: flex;
   justify-content: center;
   align-items: center;
}

.inner-circle {
   width: 56%;
   height: 56%;
   border-radius: 50%;
   background-color: #374151;
}

// cross component
.cross {
   width: 100%;
   height: 100%;

   span {
      width: 46px;
      height: 8px;
      background-color: rgb(188, 129, 129);
      display: block;
      border-radius: 20px;
   }

   .to-left {
      transform: rotate(-45deg) translate(-13.5px, 5px);
   }
   .to-right {
      transform: rotate(45deg) translate(-1px, 7px);
   }
}

// Pre card option
.precard-container {
   width: 300px;
   height: 118px;
   box-shadow: 2px 2px 3px black;

   h2 {
      font-size: 30px;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: 700;
      text-align: center;
      text-decoration: underline;
   }

   .options {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
   }

   .x-option {
      width: 120px;
      height: 40px;
      display: flex;
      justify-content: center;

      span {
         width: 46px;
         height: 8px;
         background-color: rgb(255, 255, 255);
         display: block;
         border-radius: 20px;
      }

      .to-left {
         transform: rotate(-45deg) translate(-13.5px, 5px);
      }
      .to-right {
         transform: rotate(45deg) translate(-1px, 7px);
      }
   }
   .o-option {
      height: 40px;
      width: 120px;
      display: flex;
      justify-content: center;

      .pre-outer {
         width: 40px;
         height: 100%;
         border-radius: 50%;
         background-color: rgb(251, 251, 251);
         display: flex;
         justify-content: center;
         align-items: center;
      }
      .pre-inner {
         width: 56%;
         height: 56%;
         border-radius: 50%;
         background-color: rgb(34 197 94);
      }
   }

   .hover-both {
      transition: all 200ms ease-in-out;
      &:hover {
         cursor: pointer;
         border: thin solid white;
         transform: scale(1.02, 1.05);
      }
   }
}
